<div class="text-light">
    <h1>Frequently Asked Questions</h1>
    <h3>What is Objectives and Key Results (OKRs)?</h3>
    <p>It is a goal setting methodology for operationalizing a company's startegy. Objectives are main
        goals, while key results are what you need to accomplish to reach the main goals. OKRs are
        organized in a tree structure starting with high level OKRs which are broken down into smaller and 
        smaller OKRs as the tree is traversed. The methodology is used by all kinds of companies - from
        small tech startups to industrial giants.
    </p>
    <h3>What is the pricing of PureOKRs?</h3>
    <p>It is free of charge until I decide otherwise. There will never be any costs for users registered
        while it's free. The source code can also be downloaded from 
        <a href="https://github.com/nilseng/pureokrs" target="_blank">GitHub</a> if you'd like to make changes and/or
        handle hosting by yourself.
    </p>
    <h3>Is there a PureOKR mobile app?</h3>
    <p>No, pureOKRs.com is developed for the browser on your mac, pc, phone and tablet. No app is needed.</p>
</div>