<!--Footer-->
<footer class="page-footer font-small text-muted pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Resources</h5>
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a class="text-muted" [routerLink]="['about']">
              <fa-icon [icon]="faQuestionCircle"></fa-icon>
              About
            </a>
          </li>
          <li class="list-group-item border-0">
            <a class="text-muted" [routerLink]="['privacy']">
              <fa-icon [icon]="faShieldAlt"></fa-icon>
              Privacy
            </a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase">Get in touch</h5>
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a class="text-muted" href="mailto:contact@pureokrs.com">
              <fa-icon [icon]="faEnvelope"></fa-icon>
              contact@pureokrs.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: PureOKRs AS
  </div>
</footer>
