.node {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: white;
    stroke-width: 0.25;
}

.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  font-weight: 300;
  fill: white;
}