<div class="okr card bg-light border-0 p-2 m-1">
  <span>
    <span class="dropdown">
      <a class="btn btn-sm bg-light p-0 m-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span octicon="kebab-horizontal" width="15px"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addChild(okr._id)" data-toggle="modal" data-target="#newOkrModal">
          <fa-icon [icon]="faPlusCircle"></fa-icon>
          Add child OKR
        </a>
        <a class="dropdown-item" (click)="editOkr(okr)" data-toggle="modal" data-target="#editOkrModal" >
          <fa-icon [icon]="faPen"></fa-icon>
          Edit
        </a>
        <a class="dropdown-item" (click)="deleteOKR()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
          Delete
        </a>
      </div>
    </span>
    <p *ngIf="owner" class="badge badge-primary float-right m-1">
      <fa-icon [icon]="faUserNinja"></fa-icon>
      {{owner.name}}
    </p>
    <p *ngIf="!averageProgress && averageProgress!=0" class="badge badge-secondary float-right m-1">
      <fa-icon [icon]="faBatteryEmpty"></fa-icon>
      0%
    </p>
    <p *ngIf="averageProgress<30" class="badge badge-secondary float-right m-1">
      <fa-icon [icon]="faBatteryEmpty"></fa-icon>
      {{averageProgress}}%
    </p>
    <p *ngIf="averageProgress<70 && averageProgress>=30" class="badge badge-primary float-right m-1">
      <fa-icon [icon]="faAdjust"></fa-icon>
      {{averageProgress}}%
    </p>
    <p *ngIf="averageProgress>=70" class="badge badge-success float-right m-1">
      <fa-icon [icon]="faCheckCircle"></fa-icon>
      {{averageProgress}}%
    </p>
  </span>
  <h5 class="card-title">
    <span>{{okr.objective}}</span>
  </h5>
  <div class="card-body pt-0 pr-0 m-0">
    <div class="row">
      <ul *ngIf="okr.keyResults" class="list-group">
        <li *ngFor="let kr of okr.keyResults"
          class="list-group-item bg-white border border-primary rounded-0 border-right-0 border-top-0 border-bottom-0 py-1 my-1 mr-2">
          {{kr?.keyResult}}
          <span *ngIf="!kr.progress && kr.progress!=0" class="badge badge-secondary">
            <fa-icon [icon]="faBatteryEmpty"></fa-icon>
            0%
          </span>
          <span *ngIf="kr.progress<30" class="badge badge-secondary">
            <fa-icon [icon]="faBatteryEmpty"></fa-icon>
            {{kr.progress}}%
          </span>
          <span *ngIf="kr.progress>=30 && kr.progress<70" class="badge badge-primary">
            <fa-icon [icon]="faAdjust"></fa-icon>
            {{kr.progress}}%
          </span>
          <span *ngIf="kr.progress>=70" class="badge badge-success">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            {{kr.progress}}%
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="!showChildren && (childrenCount > 0)" class="btn btn-link p-0 mt-2" (click)="getChildren()">
      <fa-icon [icon]="faChevronDown"></fa-icon>
      {{childrenCount}}
    </div>
    <div *ngIf="showChildren && (childrenCount > 0)" class="btn btn-link p-0 mt-2" (click)="hideChildren()">
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </div>
  </div>
</div>
<div *ngIf="showChildren" class="ml-4 mt-1">
  <app-okr *ngFor="let child of children" [okr]="child" (hideOkrId)=hideChild($event) (okrToEdit)="editOkr($event)" (parentId)="addChild($event)">
  </app-okr>
</div>