#container {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 10000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 5rem;
  width: auto;
}
