.okr{
    width: 500px;
    max-width: 500px;
    border-radius: 1px;
}

.dropdown-item:hover {cursor: pointer}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="okr"] {
      width: 100%;
      max-width: 100%;
    }
  }