<div class="row">
  <div class="col-sm rounded bg-light p-4 mb-4 mx-2">
    <form (submit)="reset()" style="width: 18rem;">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="form-control" required placeholder="Enter email"
          [(ngModel)]="email">
      </div>
      <button type="submit" class="btn btn-primary">Reset password</button>
      <div *ngIf="loginMessage" class=" alert alert-warning my-2">{{loginMessage}}</div>
    </form>
  </div>
</div>