<div class="row">
  <div class="col-sm pt-4">
    <div class="text-light rounded p-4 h-100">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" style="width: 18rem;" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <em *ngIf="email.touched && email.invalid">
            Required
          </em>
          <input id="email" type="email" class="form-control" placeholder="Enter email" formControlName="email"
            required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <em *ngIf="password.touched && password.invalid">
            Required
          </em>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password"
            required>
        </div>
        <div *ngIf="loginMessage" class=" alert alert-warning mx-1 my-0">{{loginMessage}}</div>
        <button type="submit" [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-primary m-2">Log
          in</button>
        <button type="button" routerLink="/register" class="btn btn-success m-2">Register</button>
      </form>
      <button class="btn btn-sm btn-link" routerLink="/resetpassword">Forgot your password?</button>
    </div>
  </div>
  <div class="col-sm pt-4">
    <div class="text-light rounded p-4 h-100">
      <h5 class="font-italic">This is the simplest OKR tool on the web.</h5>
      <h5>Why Objectives and Key Results?</h5>
      <ul>
        <li>
          Improve collaboration
        </li>
        <li>
          Align your organization
        </li>
        <li>
          Focus on what matters
        </li>
      </ul>
      <h5>PureOKRs Features</h5>
      <ul>
        <li>
          Easy to use
        </li>
        <li>
          Fully cloud based
        </li>
        <li>
          Mobile First
        </li>
      </ul>
    </div>
  </div>
</div>