<div class="row m-0">
  <div class="col-sm col-md-6">
    <app-welcome></app-welcome>
  </div>
  <div class="col-sm col-md-4">
    <div class="p-1 p-sm-4">
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="form-group">
          <label for="company" class="small">Company</label>
          <em *ngIf="company.touched && company.invalid">Required</em>
          <input
            id="company"
            type="text"
            class="form-control form-control-sm"
            placeholder="Enter company name"
            formControlName="company"
            required
          />
        </div>
        <div class="form-group">
          <label for="name" class="small">Full name</label>
          <em *ngIf="name.touched && name.invalid">Required</em>
          <input
            id="name"
            type="text"
            class="form-control form-control-sm"
            placeholder="Enter your name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email" class="small">Email</label>
          <em *ngIf="email.touched && email.value.length === 0">Required</em>
          <em *ngIf="email.touched && email.value.length > 0 && email.invalid"
            >Invalid email</em
          >
          <input
            id="email"
            name="email"
            type="email"
            class="form-control form-control-sm"
            formControlName="email"
            required
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password" class="small">Password</label>
          <em *ngIf="password.touched && password.value.length === 0"
            >Required</em
          >
          <em
            *ngIf="
              password.touched && password.value.length > 0 && password.invalid
            "
            >At least 6 characters</em
          >
          <input
            id="password"
            type="password"
            class="form-control form-control-sm"
            formControlName="password"
            name="password"
            placeholder="Password"
            minlength="6"
            required
          />
        </div>
        <div class="form-group">
          <label for="terms">
            <input
              id="terms"
              type="checkbox"
              name="terms"
              formControlName="terms"
              required
            />
            <small class="ml-1">
              I accept that PureOKRs will process data as described in the
              <a routerLink="/privacy" target="_blank">privacy policy</a>.
            </small>
          </label>
        </div>
        <div *ngIf="message" class="alert alert-warning mx-1 my-0">
          {{ message }}
        </div>
        <button
          type="submit"
          class="btn btn-success btn-sm"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
        <br />
        <button
          type="button"
          class="btn btn-link btn-sm px-0 my-2"
          [routerLink]="['/login']"
        >
          Already have a user? Log in here.
        </button>
      </form>
    </div>
  </div>
</div>
