<div class="bg-white">
  <nav class="navbar navbar-dark bg-primary border-bottom border-danger">
      <a class="navbar-brand" href="/">
          Pure Objectives and Key Results
      </a>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a routerLink="/login" class="nav-link">Log In</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a routerLink="/company" class="nav-link">{{auth.getUserDetails()?.name}}</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a (click)="auth.logout()" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
  </nav>
  <main class="bd-masthead" role="main">
    <div class="container-fluid mt-3">
        <router-outlet></router-outlet>
    </div>
  </main>
</div>
<!--Footer-->
<footer class="page-footer font-small bg-primary text-white pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Resources</h5>
          <p><a class="text-light" href="/faq">Frequently Asked Questions</a></p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Get in touch</h5>
            <ul class="list-unstyled">
              <li>
                <p>nilseng.com</p>
              </li>
              <li>
                <p>teodor.nilseng@gmail.com</p>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Nilseng Consulting</div>
  </footer>

