<div class="okr card rounded border-0 p-2 my-1">
  <span class="dropdown">
    <a
      class="btn btn-sm p-0 m-0"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        (click)="addChild(okrHierarchyNode.data.okr._id)"
        data-toggle="modal"
        data-target="#newOkrModal"
      >
        <fa-icon [icon]="faPlusCircle"></fa-icon>
        Add child OKR
      </a>
      <a
        class="dropdown-item"
        (click)="editOkrNode(okrHierarchyNode)"
        data-toggle="modal"
        data-target="#editOkrModal"
      >
        <fa-icon [icon]="faPen"></fa-icon>
        Edit
      </a>
      <a class="dropdown-item" (click)="deleteOKR()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        Delete
      </a>
    </div> </span
  ><span>
    <span *ngIf="owner" class="text-muted small m-1">
      <fa-icon [icon]="faUserNinja"></fa-icon>
      {{ owner.name }}
    </span>
    <app-progress-badge
      class="float-right mr-2"
      [progress]="averageProgress"
    ></app-progress-badge>
  </span>
  <p class="font-weight-bold mt-2 mb-1">
    <span>{{ okrHierarchyNode.data.okr.objective }}</span>
  </p>
  <div class="card-body py-0 pr-0 m-0">
    <ul *ngIf="okrHierarchyNode.data.okr.keyResults" class="list-group">
      <li
        *ngFor="let kr of okrHierarchyNode.data.okr.keyResults"
        class="list-group-item small bg-light border border-info rounded-0 border-right-0 border-top-0 border-bottom-0 pt-1 pb-0 my-1 mr-2"
      >
        {{ kr?.keyResult }}
        <app-progress-badge
          class="float-right"
          [progress]="kr.progress"
        ></app-progress-badge>
      </li>
    </ul>
    <div
      *ngIf="
        !okrHierarchyNode.data.isChildrenVisible &&
        okrHierarchyNode.children?.length > 0
      "
      class="btn btn-sm text-secondary p-0 m-0"
      (click)="showChildren()"
    >
      <fa-icon [icon]="faChevronDown"></fa-icon>
      {{ okrHierarchyNode.children.length }}
    </div>
    <div
      *ngIf="
        okrHierarchyNode.data.isChildrenVisible &&
        okrHierarchyNode.children?.length > 0
      "
      class="btn btn-sm text-secondary p-0 m-0"
      (click)="hideChildren()"
    >
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </div>
  </div>
</div>
<div *ngIf="okrHierarchyNode.data.isChildrenVisible" class="ml-4 mt-1">
  <app-okr-node
    *ngFor="let child of okrHierarchyNode.children"
    [okrHierarchyNode]="child"
    (deletedNode)="hideDeletedNode($event)"
    (okrNodeToEdit)="editOkrNode($event)"
    (parentId)="addChild($event)"
  >
  </app-okr-node>
</div>
