<div class="jumbotron bg-transparent px-4">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Register for free to get started.</p>
  <h5 class="mt-4">Features</h5>
  <div class="my-2">
    <fa-icon class="mr-2" [icon]="faSitemap"></fa-icon>OKR tree view
  </div>
  <div class="my-2">
    <fa-icon class="mr-2" [icon]="faStream"></fa-icon>OKR list view
  </div>
  <div class="my-2">
    <fa-icon class="mr-2" [icon]="faUsers"></fa-icon>Invite colleagues or team
    mates to collaborate
  </div>
</div>
