<h5 *ngIf="user$ | async as user">
  {{ user.company }}'s objectives and key results.
</h5>
<div *ngIf="vm$ | async as vm" class="mb-4">
  <app-new-okr (savedOkr)="savedOkr($event)"></app-new-okr>
  <app-edit-okr
    *ngIf="okrNodeToEdit"
    [okrHierarchyNode]="okrNodeToEdit"
    (savedOkr)="savedOkr($event)"
  ></app-edit-okr>
  <svg
    #svg
    [attr.height]="vm.config.height"
    [attr.width]="vm.config.width"
    style="margin: auto; display: block"
    overflow="hidden"
  >
    <rect
      [attr.height]="vm.config.height"
      [attr.width]="vm.config.width"
      rx="2"
      ry="2"
      fill="white"
    ></rect>
    <g id="container" [zoomableOf]="svg" #container>
      <g *ngFor="let edge of vm.tree?.links()">
        <g *ngIf="edge.source.depth" [edge]="edge"></g>
      </g>
      <g *ngFor="let node of vm.tree?.descendants()">
        <g
          *ngIf="node.depth"
          [okrTreeNode]="node"
          (nodeShow)="pushChildren($event)"
          (nodeHide)="hideChildren($event)"
          (okrNodeToEdit)="editOkrNode($event)"
        ></g>
      </g>
    </g>
  </svg>
</div>
<div *ngIf="okrTreeIsLoading$ | async as isLoading">
  <app-loading *ngIf="isLoading"></app-loading>
</div>
