<svg:g #nodeVisual>
  <svg:g
    class="OKRG"
    (click)="editOkr()"
    data-toggle="modal"
    data-target="#editOkrModal"
  >
    <svg:rect
      #rect
      class="OKRRect"
      [attr.x]="okrTreeNode.x + okrTreeNode.data.offsetX"
      [attr.y]="okrTreeNode.y + okrTreeNode.data.offsetY"
      [attr.width]="okrTreeNode.data.width"
      [attr.height]="okrTreeNode.data.height"
      [attr.rx]="2"
      [attr.ry]="2"
    ></svg:rect>
    <svg:foreignObject
      #text
      [attr.x]="okrTreeNode.x + okrTreeNode.data.offsetX"
      [attr.y]="okrTreeNode.y + okrTreeNode.data.offsetY"
      [attr.width]="okrTreeNode.data.width"
      [attr.height]="okrTreeNode.data.height"
    >
      <xhtml:div class="objective">
        <p>
          {{ okrTreeNode.data.okr.objective }}
        </p>
      </xhtml:div>
    </svg:foreignObject>
    <svg:rect
      *ngIf="progress"
      [attr.x]="
        okrTreeNode.x + okrTreeNode.data.offsetX + okrTreeNode.data.width - 8
      "
      [attr.width]="8"
      [attr.y]="
        okrTreeNode.y +
        okrTreeNode.data.offsetY +
        okrTreeNode.data.height -
        okrTreeNode.data.height * progress
      "
      [attr.height]="okrTreeNode.data.height * progress"
      fill="#28a745"
    ></svg:rect>
  </svg:g>
</svg:g>
