.OKRG {
  cursor: pointer;
}

.OKRRect {
  fill: #e4effc;
}

.objective {
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;

  p {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
