<svg #svg [attr.width]="_options.width" [attr.height]="_options.height" style="display: block; margin:auto;">
  <rect [attr.height]="_options.height" [attr.width]="_options.width" rx="2" ry="2" fill="#f9f9f9"></rect>
  <g [zoomableOf]="svg">
    <g *ngFor="let level of nodes">
      <g [edge]="edge" *ngFor="let edge of edges"></g>
    </g>
    <g *ngFor="let level of nodes">
      <g [node]="node" *ngFor="let node of level" 
        (nodeShow)="showChildren($event)"
        (nodeHide)="hideChildren($event)"></g>
    </g>
  </g>
</svg>