<div class="row m-0">
  <div class="col-sm">
    <div class="rounded p-1 p-sm-4">
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="form-group">
          <label for="company">Company</label>
          <em *ngIf="company.touched && company.invalid">Required</em>
          <input
            id="company"
            type="text"
            class="form-control"
            placeholder="Enter company"
            formControlName="company"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Full name</label>
          <em *ngIf="name.touched && name.invalid">Required</em>
          <input
            id="name"
            type="text"
            class="form-control"
            placeholder="Enter your name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <em *ngIf="email.touched && email.value.length === 0">Required</em>
          <em *ngIf="email.touched && email.value.length > 0 && email.invalid"
            >Invalid email</em
          >
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            formControlName="email"
            required
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <em *ngIf="password.touched && password.value.length === 0"
            >Required</em
          >
          <em
            *ngIf="
              password.touched && password.value.length > 0 && password.invalid
            "
            >At least 6 characters</em
          >
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password"
            name="password"
            placeholder="Password"
            minlength="6"
            required
          />
        </div>
        <div class="form-group">
          <label for="terms">
            <input
              id="terms"
              type="checkbox"
              name="terms"
              formControlName="terms"
              required
            />
            <small class="ml-1">
              I accept that PureOKRs will process data as described
              <a routerLink="/privacy" target="_blank">here</a>.
            </small>
          </label>
        </div>
        <div *ngIf="message" class="alert alert-warning mx-1 my-0">
          {{ message }}
        </div>
        <button
          type="submit"
          class="btn btn-success m-2"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
        <br />
        <button
          type="button"
          class="btn btn-link btn-sm"
          [routerLink]="['/login']"
        >
          Already have a user? Log in here.
        </button>
      </form>
    </div>
  </div>
  <div class="col-sm pt-4">
    <section class="rounded p-4">
      <h5>Welcome!</h5>
      <p>
        Register your company and get started with creating your first
        objectives and key results. It's simple and powerful.
      </p>
      <h5>Why Objectives and Key Results?</h5>
      <ul>
        <li>
          Improve collaboration
        </li>
        <li>
          Align your organization
        </li>
        <li>
          Focus on what matters
        </li>
      </ul>
      <h5>Pure OKRs Features</h5>
      <ul>
        <li>
          OKR tree view
        </li>
        <li>
          OKR list view
        </li>
        <li>
          Invite colleagues or team mates by email
        </li>
      </ul>
    </section>
  </div>
</div>
